Source: lightdm-remote-session-freerdp
Section: misc
Priority: optional
Maintainer: Artica Project <devs@lists.arctica-project.org>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-apparmor,
Standards-Version: 4.7.0
Homepage: http://github.com/ArcticaProject/lightdm-remote-session-freerdp
Vcs-Git: https://github.com/ArcticaProject/lightdm-remote-session-freerdp/
Vcs-Browser: https://github.com/ArcticaProject/lightdm-remote-session-freerdp/

Package: lightdm-remote-session-freerdp
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 socat,
 zenity,
 freerdp3-x11 (>= 2~) | freerdp2-x11 (>= 2~),
 libpam-freerdp,
 lightdm (>= 1.3.3-0~),
 socat,
Suggests:
 apparmor,
Description: Log into RDP sessions via LightDM
 The configuration files needed and scripts required to login to a full
 screen RDP session using LightDM and FreeRDPv2/FreeRDPv3.
